<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- https://github.com/logstash/logstash-logback-encoder/tree/logstash-logback-encoder-4.9 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- hibanete log (show-sql,format_sql) is application-xxx.yml -->
    <springProfile name="test">
        <logger name="com.zaxxer.hikari.HikariDataSource" level="DEBUG"/>
        <logger name="jp.hinagata" level="DEBUG"/>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.zaxxer.hikari.HikariDataSource" level="DEBUG"/>
        <logger name="jp.hinagata" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="prd">
    </springProfile>

</configuration>